In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [3]:
data = pd.read_csv('heart.csv')
data.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [4]:
data = data.drop(['ExerciseAngina','ChestPainType'],axis=1)
data.head()

,Age,Sex,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,Oldpeak,ST_Slope,HeartDisease
0,40,M,140,289,0,Normal,172,0.0,Up,0
1,49,F,160,180,0,Normal,156,1.0,Flat,1
2,37,M,130,283,0,ST,98,0.0,Up,0
3,48,F,138,214,0,Normal,108,1.5,Flat,1
4,54,M,150,195,0,Normal,122,0.0,Up,0

In [5]:
label_encoder_sex=LabelEncoder()
data['Sex']=label_encoder_sex.fit_transform(data['Sex'])
label_encoder_resting_ecg=LabelEncoder()
data['RestingECG']=label_encoder_resting_ecg.fit_transform(data['RestingECG'])

In [6]:
data.head()

,Age,Sex,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,Oldpeak,ST_Slope,HeartDisease
0,40,1,140,289,0,1,172,0.0,Up,0
1,49,0,160,180,0,1,156,1.0,Flat,1
2,37,1,130,283,0,2,98,0.0,Up,0
3,48,0,138,214,0,1,108,1.5,Flat,1
4,54,1,150,195,0,1,122,0.0,Up,0

In [7]:
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_st=OneHotEncoder()
st_encoder=onehot_encoder_st.fit_transform(data[['ST_Slope']])
st_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 918 stored elements and shape (918, 3)>

In [8]:
onehot_encoder_st.get_feature_names_out(['ST_Slope'])

array(['ST_Slope_Down', 'ST_Slope_Flat', 'ST_Slope_Up'], dtype=object)

In [9]:
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_st=OneHotEncoder()
st_encoder=onehot_encoder_st.fit_transform(data[['ST_Slope']]).toarray()
st_encoder

array([[0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       ...,
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [10]:
st_encoded_df=pd.DataFrame(st_encoder,columns=onehot_encoder_st.get_feature_names_out(['ST_Slope']))
st_encoded_df

     ST_Slope_Down  ST_Slope_Flat  ST_Slope_Up
0              0.0            0.0          1.0
1              0.0            1.0          0.0
2              0.0            0.0          1.0
3              0.0            1.0          0.0
4              0.0            0.0          1.0
..             ...            ...          ...
913            0.0            1.0          0.0
914            0.0            1.0          0.0
915            0.0            1.0          0.0
916            0.0            1.0          0.0
917            0.0            0.0          1.0

[918 rows x 3 columns]

In [11]:
data=pd.concat([data.drop('ST_Slope',axis=1),st_encoded_df],axis=1)
data.head()

,Age,Sex,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,Oldpeak,HeartDisease,ST_Slope_Down,ST_Slope_Flat,ST_Slope_Up
0,40,1,140,289,0,1,172,0.0,0,0.0,0.0,1.0
1,49,0,160,180,0,1,156,1.0,1,0.0,1.0,0.0
2,37,1,130,283,0,2,98,0.0,0,0.0,0.0,1.0
3,48,0,138,214,0,1,108,1.5,1,0.0,1.0,0.0
4,54,1,150,195,0,1,122,0.0,0,0.0,0.0,1.0

In [12]:
with open('label_encoder_sex.pkl','wb') as f:
    pickle.dump(label_encoder_sex,f)
with open('label_encoder_st.pkl','wb') as f:
    pickle.dump(onehot_encoder_st,f)

In [13]:
data.head()

,Age,Sex,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,Oldpeak,HeartDisease,ST_Slope_Down,ST_Slope_Flat,ST_Slope_Up
0,40,1,140,289,0,1,172,0.0,0,0.0,0.0,1.0
1,49,0,160,180,0,1,156,1.0,1,0.0,1.0,0.0
2,37,1,130,283,0,2,98,0.0,0,0.0,0.0,1.0
3,48,0,138,214,0,1,108,1.5,1,0.0,1.0,0.0
4,54,1,150,195,0,1,122,0.0,0,0.0,0.0,1.0

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Age            918 non-null    int64
 1   Sex            918 non-null    int32
 2   RestingBP      918 non-null    int64
 3   Cholesterol    918 non-null    int64
 4   FastingBS      918 non-null    int64
 5   RestingECG     918 non-null    int32
 6   MaxHR          918 non-null    int64
 7   Oldpeak        918 non-null    float64
 8   HeartDisease   918 non-null    int64
 9   ST_Slope_Down  918 non-null    float64
 10  ST_Slope_Flat  918 non-null    float64
 11  ST_Slope_Up    918 non-null    float64
dtypes: float64(4), int32(2), int64(6)
memory usage: 79.0 KB

In [15]:
X = data.drop('RestingECG',axis=1)
y = data['RestingECG']


X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42) 


scaler = StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [16]:
X_train

array([[-1.24506731,  0.54060477, -0.70898547, ...,  3.78043207,
        -1.03325003, -0.84792072],
       [-1.8862362 ,  0.54060477, -0.16628515, ..., -0.26452003,
        -1.03325003,  1.17935554],
       [ 0.25099346,  0.54060477,  0.91911549, ..., -0.26452003,
         0.96781995, -0.84792072],
       ...,
       [ 0.67843939,  0.54060477, -0.16628515, ..., -0.26452003,
        -1.03325003,  1.17935554],
       [ 0.67843939,  0.54060477,  1.02765555, ..., -0.26452003,
        -1.03325003,  1.17935554],
       [-1.45879027, -1.84978019,  0.91911549, ..., -0.26452003,
         0.96781995, -0.84792072]])

In [17]:
with open('scaler.pkl','wb') as f:
    pickle.dump(scaler,f)

In [18]:
import tensorflow as tf
print(tf.__version__)

2.15.0

In [19]:
data

,Age,Sex,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,Oldpeak,HeartDisease,ST_Slope_Down,ST_Slope_Flat,ST_Slope_Up
0,40,1,140,289,0,1,172,0.0,0,0.0,0.0,1.0
1,49,0,160,180,0,1,156,1.0,1,0.0,1.0,0.0
2,37,1,130,283,0,2,98,0.0,0,0.0,0.0,1.0
3,48,0,138,214,0,1,108,1.5,1,0.0,1.0,0.0
4,54,1,150,195,0,1,122,0.0,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,110,264,0,1,132,1.2,1,0.0,1.0,0.0
914,68,1,144,193,1,1,141,3.4,1,0.0,1.0,0.0
915,57,1,130,131,0,1,115,1.2,1,0.0,1.0,0.0
916,57,0,130,236,0,0,174,0.0,1,0.0,1.0,0.0
917,38,1,138,175,0,1,173,0.0,0,0.0,0.0,1.0

ANN Implementation

In [20]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [21]:
(X_train.shape[1],)

(11,)

In [22]:
(X_test.shape[0],)

(184,)

In [23]:
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1, activation='sigmoid')
])

WARNING:tensorflow:From C:\Users\Asus\AppData\Roaming\Python\Python310\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [24]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                768

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2881 (11.25 KB)
Trainable params: 2881 (11.25 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [25]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.001)   
loss=tensorflow.keras.losses.BinaryCrossentropy()
loss

In [26]:
model.compile(optimizer=opt,loss='binary_crossentropy',metrics=['accuracy'])

In [27]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard 

log_dir="logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S") 
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [28]:
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [29]:
history=model.fit(X_train,y_train,validation_data=(X_test,y_test),epochs=100,callbacks=[tensorflow_callback,early_stopping_callback])

Epoch 1/100
WARNING:tensorflow:From C:\Users\Asus\AppData\Roaming\Python\Python310\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\Asus\AppData\Roaming\Python\Python310\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

23/23 [==============================] - 2s 25ms/step - loss: 0.6020 - accuracy: 0.4632 - val_loss: 0.4185 - val_accuracy: 0.5870
Epoch 2/100
23/23 [==============================] - 0s 7ms/step - loss: 0.2903 - accuracy: 0.6049 - val_loss: 0.2126 - val_accuracy: 0.5870
Epoch 3/100
23/23 [==============================] - 0s 6ms/step - loss: 0.1340 - accuracy: 0.6049 - val_loss: 0.0926 - val_accuracy: 0.5870
Epoch 4/100
23/23 [==============================] - 0s 6ms/step - loss: 0.0270 - accuracy: 0.6049 - val_loss: 0.0131 - val_accuracy: 0.5870
Epoch 5/100
23/23 [==============================] - 0s 6ms/step - loss: -0.0638 - accuracy: 0.6049 - val_loss: -0.0597 - val_accuracy: 0.5870
Epoch 6/100
23/23 [==============================] - 0s 6ms/step - loss: -0.1550 - accuracy: 0.6049 - val_loss: -0.1425 - val_accuracy: 0.5870
Epoch 7/100
23/23 [==============================] - 0s 6ms/step - loss: -0.2637 - accuracy: 0.6049 - val_loss: -0.2561 - val_accuracy: 0.5870
Epoch 8/100
23/23 [==============================] - 0s 5ms/step - loss: -0.4149 - accuracy: 0.6049 - val_loss: -0.3855 - val_accuracy: 0.5870
Epoch 9/100
23/23 [==============================] - 0s 5ms/step - loss: -0.6078 - accuracy: 0.6049 - val_loss: -0.5779 - val_accuracy: 0.5924
Epoch 10/100
23/23 [==============================] - 0s 5ms/step - loss: -0.8742 - accuracy: 0.6049 - val_loss: -0.7998 - val_accuracy: 0.5924
Epoch 11/100
23/23 [==============================] - 0s 6ms/step - loss: -1.2088 - accuracy: 0.6076 - val_loss: -1.1536 - val_accuracy: 0.5870
Epoch 12/100
23/23 [==============================] - 0s 6ms/step - loss: -1.7036 - accuracy: 0.6090 - val_loss: -1.6109 - val_accuracy: 0.5978
Epoch 13/100
23/23 [==============================] - 0s 6ms/step - loss: -2.3416 - accuracy: 0.6049 - val_loss: -2.2306 - val_accuracy: 0.5978
Epoch 14/100
23/23 [==============================] - 0s 5ms/step - loss: -3.1789 - accuracy: 0.6035 - val_loss: -2.9931 - val_accuracy: 0.6033
Epoch 15/100
23/23 [==============================] - 0s 6ms/step - loss: -4.2344 - accuracy: 0.6076 - val_loss: -3.8725 - val_accuracy: 0.6087
Epoch 16/100
23/23 [==============================] - 0s 6ms/step - loss: -5.4716 - accuracy: 0.6049 - val_loss: -5.0449 - val_accuracy: 0.6033
Epoch 17/100
23/23 [==============================] - 0s 6ms/step - loss: -7.0013 - accuracy: 0.6104 - val_loss: -6.3768 - val_accuracy: 0.5924
Epoch 18/100
23/23 [==============================] - 0s 5ms/step - loss: -8.7794 - accuracy: 0.6063 - val_loss: -8.0331 - val_accuracy: 0.5924
Epoch 19/100
23/23 [==============================] - 0s 6ms/step - loss: -10.9950 - accuracy: 0.6117 - val_loss: -9.8969 - val_accuracy: 0.5815
Epoch 20/100
23/23 [==============================] - 0s 5ms/step - loss: -13.4684 - accuracy: 0.6144 - val_loss: -12.0941 - val_accuracy: 0.5761
Epoch 21/100
23/23 [==============================] - 0s 6ms/step - loss: -16.3587 - accuracy: 0.6117 - val_loss: -14.8290 - val_accuracy: 0.5761
Epoch 22/100
23/23 [==============================] - 0s 6ms/step - loss: -19.9148 - accuracy: 0.6104 - val_loss: -17.7554 - val_accuracy: 0.5815
Epoch 23/100
23/23 [==============================] - 0s 7ms/step - loss: -23.7202 - accuracy: 0.6104 - val_loss: -21.4943 - val_accuracy: 0.5815
Epoch 24/100
23/23 [==============================] - 0s 6ms/step - loss: -28.1669 - accuracy: 0.6117 - val_loss: -25.3834 - val_accuracy: 0.5815
Epoch 25/100
23/23 [==============================] - 0s 6ms/step - loss: -33.3785 - accuracy: 0.6076 - val_loss: -29.3475 - val_accuracy: 0.5815
Epoch 26/100
23/23 [==============================] - 0s 9ms/step - loss: -38.7632 - accuracy: 0.6063 - val_loss: -34.1190 - val_accuracy: 0.5815
Epoch 27/100
23/23 [==============================] - 0s 6ms/step - loss: -44.4103 - accuracy: 0.6076 - val_loss: -39.6543 - val_accuracy: 0.5870
Epoch 28/100
23/23 [==============================] - 0s 5ms/step - loss: -51.5716 - accuracy: 0.6049 - val_loss: -44.0143 - val_accuracy: 0.5870
Epoch 29/100
23/23 [==============================] - 0s 6ms/step - loss: -58.0253 - accuracy: 0.6063 - val_loss: -51.0770 - val_accuracy: 0.5924
Epoch 30/100
23/23 [==============================] - 0s 6ms/step - loss: -65.8200 - accuracy: 0.6076 - val_loss: -57.9548 - val_accuracy: 0.5815
Epoch 31/100
23/23 [==============================] - 0s 6ms/step - loss: -74.7282 - accuracy: 0.6076 - val_loss: -64.8747 - val_accuracy: 0.5870
Epoch 32/100
23/23 [==============================] - 0s 6ms/step - loss: -83.5172 - accuracy: 0.6035 - val_loss: -73.4605 - val_accuracy: 0.5815
Epoch 33/100
23/23 [==============================] - 0s 6ms/step - loss: -94.2171 - accuracy: 0.6049 - val_loss: -81.0754 - val_accuracy: 0.5870
Epoch 34/100
23/23 [==============================] - 0s 8ms/step - loss: -104.1298 - accuracy: 0.6063 - val_loss: -91.0726 - val_accuracy: 0.5815
Epoch 35/100
23/23 [==============================] - 0s 6ms/step - loss: -115.9291 - accuracy: 0.6035 - val_loss: -101.1338 - val_accuracy: 0.5870
Epoch 36/100
23/23 [==============================] - 0s 5ms/step - loss: -128.7028 - accuracy: 0.6049 - val_loss: -111.7350 - val_accuracy: 0.5870
Epoch 37/100
23/23 [==============================] - 0s 6ms/step - loss: -142.3135 - accuracy: 0.6035 - val_loss: -121.0137 - val_accuracy: 0.5870
Epoch 38/100
23/23 [==============================] - 0s 5ms/step - loss: -155.0029 - accuracy: 0.6035 - val_loss: -134.6169 - val_accuracy: 0.5870
Epoch 39/100
23/23 [==============================] - 0s 6ms/step - loss: -170.6457 - accuracy: 0.6022 - val_loss: -147.0262 - val_accuracy: 0.5924
Epoch 40/100
23/23 [==============================] - 0s 6ms/step - loss: -186.6712 - accuracy: 0.6035 - val_loss: -159.2435 - val_accuracy: 0.5870
Epoch 41/100
23/23 [==============================] - 0s 6ms/step - loss: -202.1801 - accuracy: 0.6035 - val_loss: -174.1650 - val_accuracy: 0.5870
Epoch 42/100
23/23 [==============================] - 0s 6ms/step - loss: -220.5059 - accuracy: 0.6035 - val_loss: -187.8423 - val_accuracy: 0.5924
Epoch 43/100
23/23 [==============================] - 0s 6ms/step - loss: -238.4579 - accuracy: 0.6022 - val_loss: -202.8368 - val_accuracy: 0.5870
Epoch 44/100
23/23 [==============================] - 0s 5ms/step - loss: -258.0064 - accuracy: 0.5981 - val_loss: -219.5123 - val_accuracy: 0.5924
Epoch 45/100
23/23 [==============================] - 0s 6ms/step - loss: -276.5752 - accuracy: 0.6008 - val_loss: -239.9568 - val_accuracy: 0.5924
Epoch 46/100
23/23 [==============================] - 0s 6ms/step - loss: -300.4596 - accuracy: 0.6008 - val_loss: -257.3048 - val_accuracy: 0.5924
Epoch 47/100
23/23 [==============================] - 0s 5ms/step - loss: -323.4299 - accuracy: 0.5995 - val_loss: -273.3207 - val_accuracy: 0.5924
Epoch 48/100
23/23 [==============================] - 0s 6ms/step - loss: -345.3031 - accuracy: 0.5995 - val_loss: -295.0034 - val_accuracy: 0.5924
Epoch 49/100
23/23 [==============================] - 0s 6ms/step - loss: -369.9030 - accuracy: 0.5995 - val_loss: -315.2431 - val_accuracy: 0.5924
Epoch 50/100
23/23 [==============================] - 0s 6ms/step - loss: -394.5421 - accuracy: 0.5981 - val_loss: -337.4002 - val_accuracy: 0.5924
Epoch 51/100
23/23 [==============================] - 0s 6ms/step - loss: -420.3202 - accuracy: 0.5981 - val_loss: -360.1963 - val_accuracy: 0.5870
Epoch 52/100
23/23 [==============================] - 0s 6ms/step - loss: -448.7302 - accuracy: 0.5995 - val_loss: -380.0064 - val_accuracy: 0.5815
Epoch 53/100
23/23 [==============================] - 0s 6ms/step - loss: -474.3330 - accuracy: 0.5995 - val_loss: -404.0735 - val_accuracy: 0.5870
Epoch 54/100
23/23 [==============================] - 0s 7ms/step - loss: -503.9825 - accuracy: 0.5995 - val_loss: -427.3118 - val_accuracy: 0.5870
Epoch 55/100
23/23 [==============================] - 0s 5ms/step - loss: -531.7269 - accuracy: 0.5967 - val_loss: -453.3852 - val_accuracy: 0.5924
Epoch 56/100
23/23 [==============================] - 0s 6ms/step - loss: -564.6992 - accuracy: 0.5967 - val_loss: -474.9721 - val_accuracy: 0.5924
Epoch 57/100
23/23 [==============================] - 0s 6ms/step - loss: -593.3519 - accuracy: 0.5954 - val_loss: -504.4230 - val_accuracy: 0.5870
Epoch 58/100
23/23 [==============================] - 0s 6ms/step - loss: -627.1968 - accuracy: 0.5981 - val_loss: -532.6595 - val_accuracy: 0.5870
Epoch 59/100
23/23 [==============================] - 0s 5ms/step - loss: -661.4037 - accuracy: 0.5995 - val_loss: -557.0571 - val_accuracy: 0.5815
Epoch 60/100
23/23 [==============================] - 0s 11ms/step - loss: -695.3885 - accuracy: 0.5967 - val_loss: -586.5045 - val_accuracy: 0.5815
Epoch 61/100
23/23 [==============================] - 0s 6ms/step - loss: -728.8250 - accuracy: 0.5981 - val_loss: -620.5148 - val_accuracy: 0.5815
Epoch 62/100
23/23 [==============================] - 0s 6ms/step - loss: -768.2739 - accuracy: 0.5981 - val_loss: -648.8172 - val_accuracy: 0.5815
Epoch 63/100
23/23 [==============================] - 0s 5ms/step - loss: -801.6379 - accuracy: 0.5981 - val_loss: -683.1434 - val_accuracy: 0.5815
Epoch 64/100
23/23 [==============================] - 0s 7ms/step - loss: -844.6271 - accuracy: 0.5967 - val_loss: -710.3789 - val_accuracy: 0.5815
Epoch 65/100
23/23 [==============================] - 0s 6ms/step - loss: -880.2123 - accuracy: 0.5967 - val_loss: -744.5873 - val_accuracy: 0.5870
Epoch 66/100
23/23 [==============================] - 0s 6ms/step - loss: -923.5248 - accuracy: 0.5954 - val_loss: -774.6099 - val_accuracy: 0.5815
Epoch 67/100
23/23 [==============================] - 0s 6ms/step - loss: -963.3625 - accuracy: 0.5967 - val_loss: -811.9889 - val_accuracy: 0.5815
Epoch 68/100
23/23 [==============================] - 0s 6ms/step - loss: -1007.9258 - accuracy: 0.5940 - val_loss: -844.5948 - val_accuracy: 0.5815
Epoch 69/100
23/23 [==============================] - 0s 5ms/step - loss: -1051.6398 - accuracy: 0.5967 - val_loss: -881.7053 - val_accuracy: 0.5815
Epoch 70/100
23/23 [==============================] - 0s 6ms/step - loss: -1095.1764 - accuracy: 0.5954 - val_loss: -921.1096 - val_accuracy: 0.5761
Epoch 71/100
23/23 [==============================] - 0s 6ms/step - loss: -1141.9280 - accuracy: 0.5995 - val_loss: -962.3275 - val_accuracy: 0.5761
Epoch 72/100
23/23 [==============================] - 0s 6ms/step - loss: -1191.2852 - accuracy: 0.5995 - val_loss: -999.2029 - val_accuracy: 0.5761
Epoch 73/100
23/23 [==============================] - 0s 6ms/step - loss: -1237.4230 - accuracy: 0.5981 - val_loss: -1041.6682 - val_accuracy: 0.5761
Epoch 74/100
23/23 [==============================] - 0s 5ms/step - loss: -1288.5139 - accuracy: 0.5967 - val_loss: -1080.3016 - val_accuracy: 0.5761
Epoch 75/100
23/23 [==============================] - 0s 6ms/step - loss: -1338.0820 - accuracy: 0.5967 - val_loss: -1122.7058 - val_accuracy: 0.5761
Epoch 76/100
23/23 [==============================] - 0s 6ms/step - loss: -1390.1960 - accuracy: 0.5967 - val_loss: -1166.4640 - val_accuracy: 0.5707
Epoch 77/100
23/23 [==============================] - 0s 6ms/step - loss: -1444.7604 - accuracy: 0.5926 - val_loss: -1209.0861 - val_accuracy: 0.5707
Epoch 78/100
23/23 [==============================] - 0s 7ms/step - loss: -1497.9995 - accuracy: 0.5954 - val_loss: -1253.8796 - val_accuracy: 0.5707
Epoch 79/100
23/23 [==============================] - 0s 7ms/step - loss: -1554.5637 - accuracy: 0.5926 - val_loss: -1296.6770 - val_accuracy: 0.5652
Epoch 80/100
23/23 [==============================] - 0s 11ms/step - loss: -1607.5463 - accuracy: 0.5926 - val_loss: -1349.3375 - val_accuracy: 0.5652
Epoch 81/100
23/23 [==============================] - 0s 10ms/step - loss: -1669.4678 - accuracy: 0.5926 - val_loss: -1395.3666 - val_accuracy: 0.5652
Epoch 82/100
23/23 [==============================] - 0s 13ms/step - loss: -1727.7219 - accuracy: 0.5913 - val_loss: -1446.7596 - val_accuracy: 0.5598
Epoch 83/100
23/23 [==============================] - 0s 9ms/step - loss: -1790.7323 - accuracy: 0.5926 - val_loss: -1492.2716 - val_accuracy: 0.5598
Epoch 84/100
23/23 [==============================] - 0s 9ms/step - loss: -1848.0443 - accuracy: 0.5981 - val_loss: -1550.7870 - val_accuracy: 0.5543
Epoch 85/100
23/23 [==============================] - 0s 8ms/step - loss: -1914.8605 - accuracy: 0.5967 - val_loss: -1605.3352 - val_accuracy: 0.5598
Epoch 86/100
23/23 [==============================] - 0s 8ms/step - loss: -1983.8326 - accuracy: 0.5981 - val_loss: -1656.3030 - val_accuracy: 0.5598
Epoch 87/100
23/23 [==============================] - 0s 8ms/step - loss: -2048.0454 - accuracy: 0.5995 - val_loss: -1711.6240 - val_accuracy: 0.5598
Epoch 88/100
23/23 [==============================] - 0s 7ms/step - loss: -2113.4666 - accuracy: 0.5967 - val_loss: -1769.7648 - val_accuracy: 0.5598
Epoch 89/100
23/23 [==============================] - 0s 7ms/step - loss: -2186.1067 - accuracy: 0.6022 - val_loss: -1824.9324 - val_accuracy: 0.5598
Epoch 90/100
23/23 [==============================] - 0s 6ms/step - loss: -2257.8635 - accuracy: 0.6035 - val_loss: -1881.3967 - val_accuracy: 0.5543
Epoch 91/100
23/23 [==============================] - 0s 8ms/step - loss: -2330.7627 - accuracy: 0.6049 - val_loss: -1937.6985 - val_accuracy: 0.5489
Epoch 92/100
23/23 [==============================] - 0s 7ms/step - loss: -2401.2908 - accuracy: 0.6049 - val_loss: -2003.9834 - val_accuracy: 0.5543
Epoch 93/100
23/23 [==============================] - 0s 6ms/step - loss: -2478.3440 - accuracy: 0.6022 - val_loss: -2065.2927 - val_accuracy: 0.5489
Epoch 94/100
23/23 [==============================] - 0s 7ms/step - loss: -2556.1257 - accuracy: 0.6063 - val_loss: -2126.6196 - val_accuracy: 0.5543
Epoch 95/100
23/23 [==============================] - 0s 6ms/step - loss: -2633.0977 - accuracy: 0.6063 - val_loss: -2192.9734 - val_accuracy: 0.5489
Epoch 96/100
23/23 [==============================] - 0s 6ms/step - loss: -2706.7302 - accuracy: 0.6035 - val_loss: -2271.4255 - val_accuracy: 0.5543
Epoch 97/100
23/23 [==============================] - 0s 6ms/step - loss: -2798.1528 - accuracy: 0.6022 - val_loss: -2320.3767 - val_accuracy: 0.5598
Epoch 98/100
23/23 [==============================] - 0s 6ms/step - loss: -2869.7388 - accuracy: 0.6022 - val_loss: -2401.2422 - val_accuracy: 0.5652
Epoch 99/100
23/23 [==============================] - 0s 6ms/step - loss: -2962.7603 - accuracy: 0.6063 - val_loss: -2467.7964 - val_accuracy: 0.5543
Epoch 100/100
23/23 [==============================] - 0s 6ms/step - loss: -3043.1982 - accuracy: 0.6104 - val_loss: -2542.8376 - val_accuracy: 0.5707

In [30]:
import tensorflow as tf

model = tf.keras.models.load_model("model.h5")

model.save("model.keras")

print("Done! model.keras saved.")

Done! model.keras saved.

In [31]:
%load_ext tensorboard

In [32]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 10432), started 1 day, 1:19:45 ago. (Use '!kill 10432' to kill it.)